*{
    margin: 0;
    padding: 0;
    font-family: 'Poppins' , sans-serif;
    box-sizing: border-box;
}

.hero {
    width: 100%;
    height: 100vh;
   background:linear-gradient(45deg, #08001f, #30197d) ;
   color: #fff;
   position: relative;
   background-image: url('/IMAGEM/background.png') ;
   background-size: cover; /* Faz a imagem cobrir toda a tela */
    background-position: center bottom;
    background-repeat: no-repeat;
    box-shadow:  inset 0 0 0 2000px rgba(0,0,0,0.3);
    background-color: #08001f;

}
.container {
    width: 800px;
    height: 180px;
  position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50% , -50%);
}
.logo {
    position:absolute;
    top: 20px;
    left: 30px;
    width: 150px;
    height: auto;
    z-index: 10;
}
.clock {
    width: 100%;
    height: 100%;
    background: rgba(235, 0, 255, 0.11);
    border-radius: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    backdrop-filter: blur(40px);
}

.clock span {
    font-size: 80px;
    width: 110px;
    display: inline-block;
    text-align: center;
    position: relative;
}
.clock span::after {
    
    font-size: 16px;
    position: absolute;
    bottom: -5px;
    left: 50%;
    transform: translateX(-50%);

}
#hrs::after {
    content: 'HRS';

}
#min::after {
    content: 'MINS';

}
#sec::after {
    content: 'SEC';

}